{% extends "layouts/base.html" %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis molestiae sequi architecto perferendis ratione explicabo perspiciatis, doloribus maiores deleniti vitae in repudiandae dolorum, est cupiditate inventore? Aperiam molestiae laudantium voluptatum labore, incidunt sequi nulla est deleniti facere, libero temporibus odit dolore inventore hic voluptatem dolores! Quam sequi ullam minus temporibus sapiente, eum eveniet amet modi, dicta necessitatibus, nulla recusandae maxime sunt dignissimos blanditiis illum impedit vel rem. Eligendi eos nesciunt alias consequatur nihil temporibus dicta porro obcaecati. Ipsa debitis fugiat eum dolor provident! Rem ut earum nobis totam libero asperiores dolorem doloremque consequuntur tempora? Amet modi ratione deserunt illum temporibus.</p>

<p>Created by {{username}}</p>

{% endblock %}